@model Wema_CAM.Models.CAM

@{
    ViewBag.Title = "Runtime Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Runtime Error</h2>
<h3>A runtime error has occured. Kindly contact the Business Automation Team for further assistance.
        </h3>