@model Wema_CAM.Models.CAM

@{
    ViewBag.Title = "NotAllowed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Right Access</h2>
<h3>You are not within the approval limit or you are not authorised to approve the transaction. However, you can add a comment. You can also 
            review the transaction by sending it back to the Relationship Manager. Kindly select the "Move" option on the drop-down link to route this transaction to the next user on the queue.
    Click on the link above to
            view the items in your queue.
        </h3>
<br />
<br />
<a href="javascript:history.back(1)">back</a>