@model Wema_CAM.Models.ResetPasswordModel

<h3>Reset password</h3>

@using (Html.BeginForm("ChangePassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Forgot Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.EmailAddress)
                @Html.EditorFor(m => m.EmailAddress)
            </li>
           
        </ol>
      <p> <input type="submit" value="Change password" /></p> 
    </fieldset>
}
